
.OrgReview{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 20px;
    }

    .text-block-div{
        width: 80%;
        margin-top: 20px;
        padding-bottom: 40px;
        background-color: rgb(80, 115, 146);
        color: black;
        border-radius: 30px;
        font: normal normal normal 20px/20px 'Times New Roman', Times, serif;
    }
