.container-gallery-slider{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95%;
  width: 95%;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide-picture{
  width: 100%;
  height: 100%;
}

  .active-slide {
    opacity: 1;
  }
  
.btn-slide{
  display: block;
  position: absolute;
  height: 6vw;
  width: 6vw;
  padding: 0px;
  margin: 0px;
  background-color: rgba(71, 71, 71, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.btn-slide:hover{
  background: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
}

.prev {
    left: 0px;
  }

.next {
    right: 0px;
  }
  
.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }
  